html {
    background-color: #FFF7F0;
    color: #197A7A;
    box-sizing: border-box;
}


*, *::after, *::before{
    box-sizing: inherit;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: #197A7A 1em solid;
    padding:0 10px 10px 0;
}

header img {
    margin: 0 10px;
    width: 100px;
}

h1{
    font-size: 3em;
}

body {
    /* background-color: #FFF7F0; */
    padding-bottom: 10px;
    margin: 20px auto;
    width: 80%;
}

footer {
    border-top: #197A7A 0.5em solid;
}

a {
    color: #E0995F;
}

a:hover {
    text-decoration: none;
}

dl {
    list-style-type: square;
}

dt{
    font-size: 1.5em;
}

dd img{
    width:50%;
    margin: 10px auto;
}